<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Izin untuk Bluetooth dan lokasi -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Izin untuk mengakses Bluetooth dan lokasi pada Android 12 ke atas -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" tools:ignore="MissingPermission"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" tools:ignore="MissingPermission"/>

    <application
        android:enableOnBackInvokedCallback="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TugasAkhir"
        tools:targetApi="31">



        <!-- Aktivitas utama -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TugasAkhir">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Aktivitas konfigurasi Bluetooth -->
        <activity
            android:name=".BluetoothConfigActivity"
            android:exported="true"
            android:label="Bluetooth Configuration"/>

        <activity android:name=".PredictionActivity" />

        <activity android:name=".BreathingExercise" />

        <activity android:name=".AnxietyLogActivity" />

        <activity android:name=".AnxietyGraphActivity" />




    </application>

</manifest>
